<div id="follow-icons">
	<a href="http://facebook.com/shuoxu22" rel="me"><i class="fa fa-facebook-square fa-2x"></i></a>
	<a href="http://linkedin.com/in/shuoxu22" rel="me"><i class="fa fa-linkedin-square fa-2x"></i></a>
	<a href="http://github.com/shure22" rel="me"><i class="fa fa-github-square fa-2x"></i></a>
	<a href="mailto:shuoxu2016@gmail.com" rel="me"><i class="fa fa-envelope fa-2x"></i></a>
	<a href="{{ .Site.BaseURL }}index.xml" rel="me"><i class="fa fa-rss-square fa-2x"></i></a> 
</div>  